# PREDICTION by BigML from 1 entry

@everyone Exercice individuel: création de prédiction sur un seul input.

* L’application utilisée par le banquier nous envoie les informations suivantes:

{
    "RevolvingUtilizationOfUnsecuredLines": 0.01703559,
    "NumberOfDependents": 1,
    "DebtRatio": 0,
    "age": 42,
    "NumberOfOpenCreditLinesAndLoans": 6,
    "NumberRealEstateLoansOrLines": 1,
    "NumberOfTime30-59DaysPastDueNotWorse": 1,
    "NumberOfTime60-89DaysPastDueNotWorse": 0,
    "NumberOfTimes90DaysLate": 0
}

* Créez un nouveau notebook, dans lequel vous calculerez une probabilité de défaut de remboursement.
* Committez, et envoyez moi le lien pour que je retrouve facilement
* Dites “exo fini” ici-même, quand vous avez fini.

import bigml.api
from bigml.api import BigML
api = BigML()


import pandas as pd
from pandas import read_csv

Show the structure of dataset

In [139]:
df = read_csv('Train_Full_New1.csv', index_col = False)
df.head(5)

,Unnamed: 0,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,NumberOfTimes90DaysLate_TOTAL,IsOld,SeriousDlqin2yrs
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,2,False,1
1,2,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,0,False,0
2,3,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,2,False,0
3,4,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,0,False,0
4,5,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,1,False,0

## Run model if it does not exist

In [34]:
source = api.create_source('Train_Full_New1.csv')
api.ok(source)

True

In [35]:
dataset = api.create_dataset(source)
api.ok(dataset)

True

In [36]:
train_dataset = api.create_dataset(dataset, {"name": "train", "sample_rate": 0.8, "seed": "my seed"})
api.ok(train_dataset)
validation_dataset = api.create_dataset(dataset, {"name": "validation", "sample_rate": 0.8, "seed": "my seed", "out_of_bag": True})
api.ok(validation_dataset)

True

In [37]:
ensemble = api.create_ensemble(train_dataset)
api.ok(ensemble)

True

## If the model exists in BigML.

So, run the ID

In [63]:
ensemble_get = api.get_ensemble('ensemble/5dc4406f7811dd7f2d016c75')

## Prepare the new imput in good format of dataset

In [79]:
input_data = { "RevolvingUtilizationOfUnsecuredLines": 0.01703559, "NumberOfDependents": 1, "DebtRatio": 0, "age": 42, "NumberOfOpenCreditLinesAndLoans": 6, "NumberRealEstateLoansOrLines": 1, "NumberOfTime30-59DaysPastDueNotWorse": 1, "NumberOfTime60-89DaysPastDueNotWorse": 0, "NumberOfTimes90DaysLate": 0 }

In [125]:
input_data

{'RevolvingUtilizationOfUnsecuredLines': 0.01703559,
 'NumberOfDependents': 1,
 'DebtRatio': 0,
 'age': 42,
 'NumberOfOpenCreditLinesAndLoans': 6,
 'NumberRealEstateLoansOrLines': 1,
 'NumberOfTime30-59DaysPastDueNotWorse': 1,
 'NumberOfTime60-89DaysPastDueNotWorse': 0,
 'NumberOfTimes90DaysLate': 0}

In [80]:
df_input = pd.DataFrame([input_data])
df_input
#df_imput.dtypes

,DebtRatio,NumberOfDependents,NumberOfOpenCreditLinesAndLoans,NumberOfTime30-59DaysPastDueNotWorse,NumberOfTime60-89DaysPastDueNotWorse,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,RevolvingUtilizationOfUnsecuredLines,age
0,0,1,6,1,0,0,1,0.017036,42

Prepare the new imput in good format of dataset

In [161]:
df_dataset_empty = df[0:0]
df_dataset_empty.dtypes
#df_dataset_empty

Unnamed: 0                                int64
RevolvingUtilizationOfUnsecuredLines    float64
age                                       int64
NumberOfTime30-59DaysPastDueNotWorse      int64
DebtRatio                               float64
MonthlyIncome                           float64
NumberOfOpenCreditLinesAndLoans           int64
NumberOfTimes90DaysLate                   int64
NumberRealEstateLoansOrLines              int64
NumberOfTime60-89DaysPastDueNotWorse      int64
NumberOfDependents                      float64
NumberOfTimes90DaysLate_TOTAL             int64
IsOld                                      bool
SeriousDlqin2yrs                          int64
dtype: object

In [162]:
col_init = list(df_dataset_empty.columns)
df_input_new = df_dataset_empty.append(df_input, sort=False)
df_input_new

,Unnamed: 0,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,NumberOfTimes90DaysLate_TOTAL,IsOld,SeriousDlqin2yrs
0,NaN,0.017036,42,1,0.0,NaN,6,0,1,0,1.0,NaN,NaN,NaN

Integer news features in the imput data

In [163]:
df_input_new ['NumberOfTimes90DaysLate_TOTAL'] = df_input_new.apply(lambda x: x['NumberOfTime30-59DaysPastDueNotWorse'] + x['NumberOfTime60-89DaysPastDueNotWorse']+ x['NumberOfTimes90DaysLate'], axis = 1
)
df_input_new ['IsOld'] = df_input_new.apply (lambda x: x['age']>70, axis = 1)
df_input_new

,Unnamed: 0,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,NumberOfTimes90DaysLate_TOTAL,IsOld,SeriousDlqin2yrs
0,NaN,0.017036,42,1,0.0,NaN,6,0,1,0,1.0,1,False,NaN

In [164]:
df_input_new1 = df_input_new.drop (['Unnamed: 0'], axis = 1)
df_input_new1 = df_input_new1.drop (['SeriousDlqin2yrs'], axis = 1)
df_input_new1

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,NumberOfTimes90DaysLate_TOTAL,IsOld
0,0.017036,42,1,0.0,NaN,6,0,1,0,1.0,1,False

In [184]:
df_input_new2 = df_input_new1.to_dict(orient = 'list')
df_input_new2

{'RevolvingUtilizationOfUnsecuredLines': [0.01703559],
 'age': [42],
 'NumberOfTime30-59DaysPastDueNotWorse': [1],
 'DebtRatio': [0.0],
 'MonthlyIncome': [nan],
 'NumberOfOpenCreditLinesAndLoans': [6],
 'NumberOfTimes90DaysLate': [0],
 'NumberRealEstateLoansOrLines': [1],
 'NumberOfTime60-89DaysPastDueNotWorse': [0],
 'NumberOfDependents': [1.0],
 'NumberOfTimes90DaysLate_TOTAL': [1],
 'IsOld': [False]}

Convert input data Dataframe into Dictiorany for BigML

In [179]:
df_input_new3 = {'RevolvingUtilizationOfUnsecuredLines': 0.01703559,
 'age': 42,
 'NumberOfTime30-59DaysPastDueNotWorse': 1,
 'DebtRatio': 0.0,
 'MonthlyIncome': None,
 'NumberOfOpenCreditLinesAndLoans': 6,
 'NumberOfTimes90DaysLate': 0,
 'NumberRealEstateLoansOrLines': 1,
 'NumberOfTime60-89DaysPastDueNotWorse': 0,
 'NumberOfDependents': 1.0,
 'NumberOfTimes90DaysLate_TOTAL': 1,
 'IsOld': False}

## Prediction

In [180]:
# creating a single prediction
prediction = api.create_prediction(ensemble_get, df_input_new3)
api.ok(prediction)

True

In [181]:
api.pprint(prediction)

SeriousDlqin2yrs for {'DebtRatio': 0.0, 'IsOld': False, 'MonthlyIncome': None, 'NumberOfDependents': 1.0, 'NumberOfOpenCreditLinesAndLoans': 6, 'NumberOfTime30-59DaysPastDueNotWorse': 1, 'NumberOfTime60-89DaysPastDueNotWorse': 0, 'NumberOfTimes90DaysLate': 0, 'NumberOfTimes90DaysLate_TOTAL': 1, 'NumberRealEstateLoansOrLines': 1, 'RevolvingUtilizationOfUnsecuredLines': 0.01703559, 'age': 42} is 0

In [183]:
api.pprint(prediction['object']['probabilities'])

[['0', 0.96908], ['1', 0.03092]]

The default probability of this client is 3.1%